<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/cadastro.css" th:href="@{/css/cadastro.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 ml-3">
        <div class="media d-flex align-items-center"><a href="index.html"><img src="imagens/construmoura.png" alt="..." width="200" class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
            </div>
        </a></div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 text-center">Menu</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item dropdown dropright">
            <a class="nav-link dropdown" data-toggle="dropdown" role="button">
                <i class="fas fa-file-invoice-dollar mr-3 text-primary fa-fw"></i>
                Folha de Pagamento</a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-dark " th:href="@{/Cadastro}">
                    <i class="fas fa-users mr-3 text-primary fa-fw"></i>
                    Cadastrar Funcionario</a>
                <a class="dropdown-item text-dark " th:href="@{/ListagemADM}">
                    <i class="fas fa-users mr-3 text-primary fa-fw"></i>
                    Listagem</a>
            </div>
        </li>
        <li class="nav-item">
            <a th:href="@{/Suporte}" class="nav-link text-dark ">
                <i class="fas fa-user-md mr-3 text-primary fa-fw"></i>
                Suporte
            </a>
        </li>
    </ul>
</div>

<div class="page-content p-5" id="content">
    <h2 class="display-4 text-dark text-center">Folha de Pagamento</h2>
    <h2 class="text-center text-dark mt-4">Fale Conosco <i class="far fa-envelope"></i></h2>
    <div class="separator"></div>
        <div class="d-flex justify-content-center">
            <form action="/suporte" method="post">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="matricula">Matrícula</label>
                        <input type="text" class="form-control bg-light" id="matricula" name="matricula">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="suporte">O que esta acontecendo?</label>
                        <textarea class="form-control bg-light" id="suporte" rows="5" name="problema"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mt-4">Enviar</button>
            </form>
        </div>
    </div>
<script src="javascript.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>